{% extends "base.html" %}

{% load loci_tags %}

{% block content %}
<h1>Loci Home</h1>

<h2>My Location</h2>
<p>Current Location: {{ request_location.full_address }}
({{ request_location.latitude }}, {{ request_location.longitude }})
</p>
<form>
    {{ geo_form }}
    <input type="submit" value="Change" />
</form>

{% if places %}
<h2>Places in the Database</h2>
    {% google_map for places and request_location.latitude request_location.longitude %}
    <ol>
    {% for p in places %}
        {% distance from p to request_location.latitude request_location.longitude as dist %}
        <li><ul>
            <li>Name: {{ p.name }}</li>
            <li>Address: {{ p.address }}, {{ p.city }} {{ p.state }} {{ p.zip_code }}</li>
            <li>Location: {{ p.latitude }} {{ p.longitude }}</li>
            <li>Distance from You: {{ dist.miles|floatformat }} miles</li>
        </ul></li>
    {% endfor %}
    </ol>
{% else %}
    <p>There are no locations in the database.</p>
{% endif %}

<h2>Add A Place</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input type="Submit" /></p>
</form>
{% endblock %}
